@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
/*Sorry for the chaotic css code. It was the first time we worked together and the was alot
of confusion. Lets hope you can read it anyway.*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body 
{
    min-height: 100vh;
    background: linear-gradient(#77ff7e, #b6ffbb);
    overflow-x: hidden;
    overflow-y: hidden;
}

header
{
    position: absolute;
    top: 0;
    Left: 0;
    width: 140%;
    padding: 400px 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .start
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    Letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 70px;
    transition: all 0.3s linear;
}

.start:hover {
    color: #a7a7a7;
    font-size: 80px;
}


header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20;
    transition: all 0.4s linear;
    background-color: white;
    border-radius: 15px;
}

header ul li a:hover
{
    background: #9c9c9c;
    color: #646464;
}

header ul li .credits {   
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: relative;
    bottom: 350px;
    left: -30px;
}